{
    "swagger": "2.0",
    "info": {
        "title": "TrackLin.es API",
        "description": "API for TrackLin.es",
        "version": "1.0.0"
    },
    "host": "api.tracklin.es",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/latest": {
            "get": {
                "summary": "Latest Tracks",
                "description": "Latest tracking info",
                "parameters": [
                    {
                        "name": "time",
                        "in": "query",
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "id",
                        "in": "header",
                        "type": "number",
                        "format": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Latest"
                ],
                "responses": {
                    "200": {
                        "description": "Array of results",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Tracks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/data": {
            "post": {
                "summary": "Insert data",
                "description": "Insert data into your dataset",
                "parameters": [
                    {
                        "name": "data",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DataInsert"
                        },
                    },
                    {
                        "name": "token",
                        "required": true,
                        "in": "header",
                        "type": "string"
                    },
                    {
                        "name": "secret",
                        "required": true,
                        "in": "header",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Data"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "default": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "DataInsert": {
            "type": "object",
            "properties": {
                "location": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            }
        },
        "Tracks": {
            "type": "object",
            "properties": {
                "track": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Track"
                    }                    
                }
            }
        },
        "Track": {
            "type": "object",
            "properties": {
                "previous": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Location"
                    }
                },
                "current": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Location"
                    }
                },
                "date": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Location": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string",
                    "description": "Nice name of the location"
                },
                "location": {
                    "type": "string",
                    "description": "URL of the location"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int64"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}
